                    For loop
                    
                    
                    syntax:
                    
                    for var in sequence:        # sequence---> str,list,tuple,range()
                        statement

In [1]:
from keyword import kwlist

In [2]:
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
s='hello manish'  # indexing charwise

In [4]:
type(s)

str

In [5]:
for i in s:
    print(i)

h
e
l
l
o

m
a
n
i
s
h

In [6]:
l=['manish','neha','shriya','adarsh','dhrumil'] # elementwise

In [7]:
for i in l:
    print(i)

manish
neha
shriya
adarsh
dhrumil

In [8]:
type(l)

list

In [9]:
t=('manish','shan',100,'naha','shriya')

In [10]:
type(t)

tuple

In [11]:
for i in t:
    print(i)

manish
shan
100
naha
shriya

In [12]:
# range()    # integer number

In [21]:
# range(10)   # end=10-1 , start=0   -------> 0 , 1, 2, ......9
# range(10,30) # start=10 end=30-1   ---->
# range(5,20,2) # start 5 , end=20 , step =2 -----> 5,7,9,11,
# range(startpoint,endpoint,step) # default start=0 , step=1

In [14]:
# list  | tuple

# list ----> mutable 
# tuple ---> immutable

# list ---> more memory accu compare to tuple

In [15]:
#list | tuple  ------> collection of data  type

In [16]:
l=['manish',24,65.7,'jaipur']
a=('manish',24,65.7,'jaipur')

In [17]:
l

['manish', 24, 65.7, 'jaipur']

In [18]:
a

('manish', 24, 65.7, 'jaipur')

In [19]:
l.__sizeof__()

36

In [20]:
a.__sizeof__()

28

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [24]:
for i in range(6,31,2):
    print(i)

6
8
10
12
14
16
18
20
22
24
26
28
30

In [25]:
# hello world    print 10 times

In [26]:
for i in range(10):
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [27]:
for i in 'manish rajput':
    print('hello python')

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [28]:
# 0 to 100 print all even number

In [39]:
for i in range(1,101,2):
    print(i,end=' | ')

1 | 3 | 5 | 7 | 9 | 11 | 13 | 15 | 17 | 19 | 21 | 23 | 25 | 27 | 29 | 31 | 33 | 35 | 37 | 39 | 41 | 43 | 45 | 47 | 49 | 51 | 53 | 55 | 57 | 59 | 61 | 63 | 65 | 67 | 69 | 71 | 73 | 75 | 77 | 79 | 81 | 83 | 85 | 87 | 89 | 91 | 93 | 95 | 97 | 99 |

In [31]:
# patterns--->

                                *       1*'*'
                                **      2*'*'
                                ***     3*'*'
                                ****    4*'*'
                                *****
                                ******
                                *******

In [40]:
'*'*5

'*****'

In [42]:
for i in range(1,11):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
**********

                                    **********
                                    *********
                                    ********
                                    *******
                                    ******
                                    *****
                                    ****
                                    ***
                                    **
                                    *

In [43]:
for i in range(10,0,-1):
    print(i*'*')

**********
*********
********
*******
******
*****
****
***
**
*

                                    *
                                   **
                                  ***
                                 ****
                                *****
                               ******
                              *******
                             ********
                            *********

In [45]:
for i in range(1,11):
    print(' '*(11-i)+'*'*i)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [49]:
for i in range(1,6):
    print(i*str(i))

1
22
333
4444
55555