In [1]:
# nested loop

In [2]:
for i in 'python':
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world

In [3]:
for i in 'python':
    for j in 'python':
        print('hello world') #36

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [4]:
for i in range(10):
    for j in range(10):
        print(j)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10):
    for j in range(i):
        print(j)  #45    0+1+2+3+4+5+6+7+8+9

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

                        matrix-----> row and col
                        
                        
                         0000000
                         0000000
                         0000000
                         0000000
                         0000000

In [9]:
for i in range(10):
    print('0',end='')

0000000000

In [7]:
print?

In [13]:
for row in range(5):
    for col in range(7):
        print('0',end='')
    print()

0000000
0000000
0000000
0000000
0000000

                                    0000000
                                    0000000
                                    000M000     ---->(row,col) 2,3
                                    0000000
                                    0000000

In [16]:
for i in range(5):
    for j in range(7):
        if i==2 and j==3:
            print('M',end='')
        else:
            print('0',end='')
    print()

0000000
0000000
000M000
0000000
0000000

In [17]:
# A to Z

                                        *      *
                                         *    *
                                          *  *
                                           *
                                          * *
                                         *   *
                                        *     *

In [19]:
for i in range(7):
    for j in range(7):
        if i==j or i+j==6:
            print('*',end='')
        else:
            print(end=' ')
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [23]:
for i in range(7):
    for j in range(7):
        if j==0 or j==6 or (i==j and i<4) or (i+j==6 and i<4):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *